.data-protection-banner {
  box-sizing: border-box;
}
.data-protection-banner a,
.data-protection-banner a:hover {
  cursor: pointer;
  color: #fff;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: inherit;
  text-decoration: none;
}
.data-protection-banner .medium-8 {
  width: 75%; margin-left: 1%; float: left;
}
.data-protection-banner .medium-4 {
  width: 23%; margin-right: 1%; float: right; text-align: right;
}

#barchart_material {
  width: 1200px;
  height: 400px;
}

.hide_fields {
  display:none;
}

.log_table {
  margin-top: 1em;
}

.comment_text_area {
  margin-bottom: 1em;
}

.publication {
  margin-top: 1em;
  margin-bottom: 1em;
}

.publication p a {
  font-size: 16px;
}

#confidence_category {
  margin-bottom: 2em;
}

#new_publication {
  margin-bottom: 2em;
}

.new_gene_disease {
  width: 80%;
}

.display_attributes {
  float: left;
  width: auto;
}

.align_buttons_left {
  float:left;
  margin-right:5px;
}

.align_buttons_right, .show_toggle_view_button {
  float: right;
  display: block;
  margin-left: 0.5em;
}

.header_gene_disease {
  display: inline-block;
  cursor: pointer;
}

.content_gene_disease {
  display: none;
}

.title {
  float: left;
}

.switch {
  margin-left: 1em;
  margin-top: 2em;
  padding: 0;
}

.chart svg {
  height: 400px;
}

dl {
  width:100%;
  overflow:hidden;
  padding: 0;
  margin: 0;
}

dt {
  float: left;
  background: #bbdefb;
  clear: left;
}

dd {
  margin-left: 1em;
  float: left;
}

.edit_account_link {
  margin-left: 0.5em;
  float: left;
}

.clear {
  clear: both;
}

.show_edit_content {
  background: #bbdefb;
  border-top-style: solid;
  border-color: #1565c0;
  display: none;
  margin-bottom: 8em;
}

.add_comment {
  display: none;
  margin: 2em;
}

.show_add_comment {
  display: block; 
}

.add_publication {
  display: none;
}

.show_add_publication {
  display: block; 
}

#register_form {
  display: none;
}

#register_item {
  display: none;
}

#account dd form {
  display: inline;
}

#find_article input {
  float: right;
}

#find_article #pmid {
  overflow: hidden;
  padding-right: .5em;
}

.button_right input {
  float: right;
}

.button_right .input_left {
  overflow: hidden;
  padding-right: .5em;
}

.visibility {
  padding-top: 1em;
  padding-bottom: 2em;
}

.phenotype_list {
  margin-top: 1em;
}

.phenotype_left {
  float: left;
  background-color: white;
}

.phenotype_right {
  float: right;
}

#ontology {
  margin-bottom: 3em;
  padding-bottom: 1em;
/*  border-bottom-style: solid;*/
/*  border-bottom-color: #D4D8D1;*/
}

#disclaimer_form, #documentation_form {
  display: inline-block;
}

.anchor {
  text-decoration: none;
  color: #333333;
}

.anchor:hover {
  color: #333333;
  text-decoration: none;
}

#legend, #organ_list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#update_phenotype_tree {
  display: none;
}

#add_phenotype_bg {

}

#add_phenotype_msg {
  display: none;
}

#add_phenotype_info_msg {
  display: none;
}

.align_left {
  float: left;
}

.align_right {
  float: right;
}

.align_inline {
  display: inline-block;
}

.add_comment_phenotype {
  display: none;
  padding-top: 3em;
}

.comment {
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.add_GDM {
  margin-bottom: 1.5em;
}

#panel_image {
  float: left;
  margin-right: 25px;
}

#search_div_123a {
  float: left;
  margin-right: 0.5em;
}

#search_div_123b {
  margin-left: 25em;
}

#search_div_123c {
  overflow: hidden;
  padding-right: .5em;
}

.search_div_123d {
  float: right;
}

.search_div_123e {
  width: 100%;
}

#update_pwd {
  display: none;
}

#phenotype_wrapper {
    width: 100%;
/*    border: 1px solid black; */
    overflow: hidden; /* will contain if #first is longer than #second */
}
#phenotype_first {
    width: 50%;
    float:left; /* add this */
/*    border: 1px solid red;*/
}
#phenotype_second {
/*    border: 1px solid green; */
  padding-left: 0.5em;  
  overflow: hidden; /* if you don't want #second to wrap below #first */
}

.alert_container {
  padding: 0;
  margin: 0;
}

.edit_phenotype_list {
  float: right;
  padding-left: 0.5em;
}

.tm_Disease {
  display: inline;
  background-color: rgb(255,153,0);
}

.tm_Mutation {
  display: inline;
  background-color: rgb(0,208,255);
}

.tm_Gene {
  display: inline;
  background-color: rgb(255,71,170);
}

.tm_pmid {
  display: none;
}

.tm {
  display: none;
}

.pubtator_img {
  width: 10%;
}

#tm_annotations {
  margin-bottom: 1em;
}

.hide {
  display: none;
}

.publication_action {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 2.5em;
}

.tm_pubtator {
  margin-bottom: 1em;
}

.tm_annotations {
  margin: 2em;
}

.tm_legend {
  margin-right: 1em;
  padding: 0.2em;
}


