.comment_text_area {
  margin-bottom: 1em;
}

.publication {
  border-top-style: solid;
  border-top-color: #D4D8D1;
  margin-bottom: 4em;
}

#confidence_category {
  margin-bottom: 2em;
}

#new_publication {
  margin-bottom: 5em;
}

.new_gene_disease {
  width: 80%;
}

.display_attributes {
  float: left;
  width: 60%;
}

.align_buttons_right, .show_toggle_view_button {
  float: right;
  display: block;
 /* margin-right: 23%*/
}

.header_gene_disease {
  display: inline-block;
  cursor: pointer;
}

.content_gene_disease {
  display: none;
}

.title {
  float: left;
}

.switch {
  margin-left: 1em;
  margin-top: 2em;
  padding: 0;
}

.chart svg {
  height: 400px;
}

dl {
 width:100%;
 overflow:hidden;
}

dt {
  float: left;
  background: #D4D8D1;
  clear: left;
}

dd {
  margin-left: 1em;
  float: left;
}

.edit_account_link {
  margin-left: 0.5em;
  float: left;
}

.clear {
  clear: both;
}

.show_edit_content {
  background: #D4D8D1;
  border-top-style: solid;
  display: none;
  margin-bottom: 8em;
}

.add_comment {
  display: none;
}

.show_add_comment {
  display: block; 
}

.add_publication {
  display: none;
}

.show_add_publication {
  display: block; 
}

#register_form {
  display: none;
}

#register_item {
  display: none;
}

#account dd form {
  display: inline;
}

#find_article input {
  float: right;
}

#find_article #pmid {
  overflow: hidden;
  padding-right: .5em;
}

.button_right input {
  float: right;
}

.button_right .input_left {
  overflow: hidden;
  padding-right: .5em;
}

.visibility {
  padding-top: 1em;
  padding-bottom: 2em;
}

.phenotype_list {
  margin-top: 1em;
}

.phenotype_left {
  float: left;
  background-color: white;
}

.phenotype_right {
  float: right;
}

#ontology {
  margin-bottom: 3em;
  padding-bottom: 1em;
/*  border-bottom-style: solid;*/
/*  border-bottom-color: #D4D8D1;*/
}

#disclaimer_form {
  display: inline-block;
}

.anchor {
  text-decoration: none;
  color: #333333;
}

.anchor:hover {
  color: #333333;
  text-decoration: none;
}

#legend, #organ_list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#update_phenotype_tree {
  display: none;
}

#add_phenotype_bg {

}

#add_phenotype_msg {
  display: none;
}

#add_phenotype_info_msg {
  display: none;
}

.align_left {
  float: left;
}

.align_right {
  float: right;
}

.align_inline {
  display: inline-block;
}

.add_comment_phenotype {
  display: none;
  padding-top: 3em;
}

#panel_image {
  float: left;
  margin-right: 25px;
}

#search_div_123a {
  float: left;
  margin-right: 0.5em;
}

#search_div_123b {
  margin-left: 25em;
}

#search_div_123c {
  overflow: hidden;
  padding-right: .5em;
}

.search_div_123d {
  float: right;
}

.search_div_123e {
  width: 100%;
}


